body{
    padding: 0px;
    margin: 0px;
    background-color: whitesmoke;
    
}

/* center the text on the page on the center*/
.container1{
text-align: center;
display: block;
overflow: auto;
}

/*previous button*/
  
  .previous:hover {
    background-color: #ddd;
    color: black;

  }
  
  .previous {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #f1f1f1;
    color: black;
    position: absolute;
    right: 10px;
    top: 20px;
    display: none;
  }

  .round {
    border-radius: 50%;
  }
/*--------styling and positioning the navigation bar-------------*/
.loader {
    border: 5px solid grey; /* Light grey */
    border-top: 5px solid #2f2fa2; /* Blue */
    border-left: 5px solid #2f2fa2;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: none;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
/*navigation div 1*/
.nav1{
    background-color: #2f2fa2;
    height: 50px;
    text-align: center;
}

/*website logo*/
#logo{
    width: 100px;
    float: left;
    margin-left: 20px;
    margin-top: 15px;
}
.logo{
    width: 100%;
}

/*profile logo*/
.logo2{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 0px;
    margin-top: 2px;
    background: #f64c72;
    color: #fff;
    text-align: center;
    line-height: 45px;
    text-transform: uppercase;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* down arrow */
.divdrop11{
    width: max-content;
    float: right;
    margin-right: 20px;
}
.divdrop11:hover {
    cursor: pointer;
}

/*h4 bell notification*/
.ta{
    margin: 0px;
    float: right;
    margin-right: 30px;
    margin-top: 15px;
    cursor: pointer;
    color: white;
}
.ta .badge {
    font-size: 5px;
    margin: 0px;
    padding: 2px 4px;
    border-radius: 50%;
    background: orange;
    display: none;
  }
/*div dropdown*/
.divdropnav{
    position: absolute;
    border: solid 1px white;
    background-color: white;
    box-shadow: 0px 2px 10px 1px grey;
    width: 200px;
    right: 0;
    margin-top: 50px;
    word-wrap: break-word;
    display: none;
    z-index: 1;
}

/*email displayed in the drop down*/
.vmail{
    color: grey;
}

/*account $ logout displayed in the dropdown*/
.vcount{
    font-size: 20px;
    font-weight: normal
}

.vcount:hover{
    cursor: pointer;
}

/* navigation links*/
.navlinks{
    box-shadow: 0px 2px 10px 1px grey;
    height: 30px;
    background-color: white;
}

.link{
    text-decoration: none;
    line-height: 1.25;
    width: 20px;
    color: black;
    margin: 40px;
    font-size: 17px;
}

.link:hover{
    color: grey;
}
.nav3{
    margin-right: 0px;
    border-bottom: solid 2px #2f2fa2;
}
.fa
.nav3{
    border-bottom: solid 2px ;
}

/*div holding the people messages*/
.msg{
    border-bottom: solid .1px;
    position: relative;
    padding: 5px;
    cursor: pointer;
}

/*div holding the profile and initials*/
.pr{
    margin: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    background-size: cover;
    background-color: #2f2fa2;
    color: white;
    margin: 0px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/*div holding the name and the type*/
.nm{
    position: absolute;
    width: max-content;
    top: 10px;
}
.nm1{
    margin: 0px;
    margin-left: 60px;
    text-align: left;
    color: #0e0e0f;
    height: 17px;
    font-size: 15px;
    max-width: 210px;
    overflow: hidden;
    text-transform: capitalize;
}
.type{
    margin: 0px;
    margin-left: 60px;
    text-align: left;
    color: slategrey;
    height: 17px;
    font-size: 15px;
    overflow: hidden;
    text-transform: capitalize;
}
.badge{
    position: absolute;
    padding: 6px 6px;
    border-radius: 50%;
    background: #f64c72;
    top: 10px;
    right: 10px;
}
.badge2{
    position: absolute;
    padding: 6px 6px;
    border-radius: 50%;
    color: green;
    top: 10px;
    right: 10px;
}
/*drop down for notifications*/
.divdropnotification{
    position: absolute;
    text-align: center;
    border: solid 1px white;
    background-color: white;
    box-shadow: 0px 2px 10px 1px grey;
    left: 0;
    right: 0;
    top: 0;
    margin-top: 50px;
    z-index: 1;
    display: none;
}
.notif{
    font-weight: normal;
    line-height: 1.25;
    font-family: "sans-serif";
    font-size: 30px;
    color: rgb(66, 65, 65);
}
.burger{
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.burger div{
    height: 3px;
    background-color: black;
    margin: 5px;
}
.line{
    margin-top: 0px;
}


/*--------------messages styling---------------------------*/
.hold{
    position: relative;
    max-width: 850px;
    margin: 0px;
    margin: auto;
    height: 80vh;
    margin-top: 20px;
}
/*div holding people*/
.people{
    float: left;
    height: 80vh;
    width: 37%;
    background-color: white;
    border-radius: 5px;
}

.mt{
    width: max-content;
    margin: 0px;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 1.4375rem;
    letter-spacing: -.1px;
    font-weight: 700;
    line-height: 1.22;
    text-align: left;
}

/*styling the down select div*/
select{
    outline: none;
    display: block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 400;
	color: #444;
	line-height: 13px;
	padding: .6em 1.4em .5em .8em;
    width: 90%;
    margin: auto;
    border: none;
    background-color: whitesmoke;
	border-radius: .5em;
}

/*div holding people1*/
.people1{
    border-top: solid 1px rgb(187, 187, 187);
    height: 58vh;
    padding-top: 10px;
    overflow: auto;
}
/*div holding messages*/
.messages{
    position: relative;
    background-color: white;
    border-radius: 5px;
    width: 60%;
    float: right;
    height: 80vh;
    overflow: auto;
}
.message2{
    height: 60%;
    overflow: auto;
    margin-top: 20px;
}
.header33{
    width: 510px;
    height: 70px;
}
.io33{
    border-bottom: solid .1px;
    padding: 20px;
    cursor: pointer;
}
.pr2{
    background-color: #2f2fa2;
    width: 50px;
    height: 50px;
    color: white;
    background-size: cover;
    line-height: 50px;
    border-radius: 50%;
    margin: 0px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.nm33{
    margin: 0px;
    text-align: left;
    color: #0e0e0f;
    height: 17px;
    font-size: 15px;
    overflow: hidden;
    text-transform: capitalize;
    position: absolute;
    width: max-content;
    margin-left: 60px;
    top: 30px;
}
.tp33{
    position: absolute;
    margin: 0px;
    text-align: left;
    color: slategrey;;
    height: 17px;
    font-size: 15px;
    overflow: hidden;
    text-transform: capitalize;
    width: max-content;
    margin-left: 60px;
    top: 45px;
}
.msg33{
    max-width: 700px;
    margin-left: 10px;
    height: max-content;
    margin-top: 15px;
    overflow: auto;
}
.time-date{
    margin: 0px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bolder;
    height: 10px;
    width: 150px;
    text-align: left;
}
.nmm{
    margin: 0px;
    width: max-content;
    text-align: left;
    color: slategrey;
    font-size: 15px;;
}
.msg331{
    margin: 0px;
    background-color: #2f2fa2;
    width: max-content;
    max-width: 250px;
    color: white;
    border-radius: 5px;
    padding: 5px;
    text-align: left;
}
.linkk{
    margin: 0px;
    margin-top: 5px;
    background-color: #4a4ac4;
    max-width: 250px;
    color: white;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.linkk9{
    margin: 0px;
    margin-top: 5px;
    background-color: #ca657b;
    max-width: 250px;
    color: white;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.link2{
    margin: 0px;
    padding: 5px;
}
.link3{
    border: solid 1px;
    background-color: white;
    padding: 5px;
    cursor: pointer;
}
.link4{
    font-size: 15px;
    text-transform: capitalize;
    color: black;
    margin-right: 10px;
}
.msg34{
    max-width: 700px;
    margin-left: 10px;
    height: max-content;
    margin-top: 15px;
    overflow: auto;
}
.time-date2{
    margin: 0px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bolder;
    height: 10px;
    width: 150px;
    text-align: left;
}
.msg332{
    margin: 0px;
    background-color: #f64c72;
    width: max-content;
    max-width: 250px;
    color: white;
    border-radius: 5px;
    padding: 5px;
    text-align: left;
}
.write2{
    margin: 0px;
    height: 60px;
    width: 99%;
    display: none;
    background-color: white;
    margin-top: 10px;
}
.write{
    float: left;
    width: 75%;
    height: 50px;
    padding-left: 10px;
    color: #0e0e0f;
    font-size: 15px;
    outline: none;
}
.send{
    float: right;
    width: 15%;
    cursor: pointer;
    color: white;
    background-color: #2f2fa2;
    padding: 5px;
    border: none;
}
/*div holding default message*/
.message1{
    width: max-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.inm{
    display: none;
    width: max-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.mt2{
    font-size: 25px;
    letter-spacing: -.1px;
    font-weight: 700;
    line-height: 1.22;
    margin: 0px;
}
.p{
    font-size: 17px;
    letter-spacing: 0;
    font-weight: 400;
    line-height: 1.43;
    margin: 0px;
    max-width: 300px;
    margin: auto;
}
.btn1{
    border: none;
    font-size: 15px;
    padding: 13px 40px 13px 40px ;
    color: white;
    background-color: #2f2fa2;
    border-radius: 5px;
    text-decoration: none;
    outline: none;
}
.btn2{
    border: solid 1px #2f2fa2;
    font-size: 15px;
    text-decoration: none;
    outline: none;
    padding: 13px 40px 13px 40px ;
    color: #2f2fa2;
    background-color: white;
    border-radius: 5px;
}
@media screen and (max-width: 800px){
    .people{
        height: max-content;
        padding-bottom: 20px;
        width: 100%;
        margin: auto;
        float: none;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .message2{
        height: 55%;
    }
    .hld{
        width: 700px;
    }
    .people1{
        display: none;
    }
    .header33{
        margin: 0px;
        width: 100%;
    }
    .messages{
        position: absolute;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        float: none;
        width: 100%;
        margin: auto;
        height: 70vh;
    }
    .message2{
        overflow-x: hidden;
    }

}

/*navigation bar on small screens*/
@media screen and (max-width: 830px){
    /*navigation bar*/
    .nav1{
        position: relative;
        text-align: center;
    }
    /*website logo*/
    #logo{
        margin: 0;
        margin-top: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /*profile logo*/
    .divdrop11{
        float: left;
        margin-left: 20px;
    }
    /*hide the name*/
    .divdrop1{
        display: none;
    }
    /*bellicon*/
    .ta{
        margin-right: 20px;
    }
    /*div  dropdown*/
    .divdropnav{
        margin-right: 0px;
        width: 100vw;
    }
    /*navigation links*/
    .navlinks{
        height: max-content;
        transition: .5s;
    }
    .link{
        display: none;
        width: 100%;
        border-bottom: solid 1px rgba(0, 0, 0, 0.5);
        padding: 20px 0px 20px 0px;
        font-size: 23px;
        margin: 0px;
    }

    .nav3{
        color: white;
        background-color: rgb(47, 47, 162,.7);
        border: none;
    }

    .nav3{
        border: none;
    }

    .nav23{
        padding-top: 0px;
    }
    /*display the burger icon*/
    .burger{
        display: block;
        max-width: 40px;
        margin: auto;
    }
    .burger :first-child{
        margin-top: 0px;
    }

    .nav-active{
        display: inline-block
    }
}
