body{
    margin: 0px;
    padding: 0px;
}

h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: #3F3FA0;
}