/*div holding the profile logo*/
.pics {
  position: relative;
  height: 200px;
}

.divprof {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%);
  margin-top: 10px;
  border: solid 1px;
  background: #512DA8;
  font-size: 45px;
  color: #fff;
  text-align: center;
  line-height: 100px;
  text-transform: uppercase;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


/*edit file*/
.upload-btn-wrapper {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  overflow: hidden;
  display: inline-block;
  margin-top: 115px;
  cursor: pointer;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.file {
  cursor: pointer;
}


/* styling for the resources*/
.inal1{
background-color: whitesmoke;
padding: 10px;
}

.resource {
  height: 200px;
  position: relative;
  margin: 10px;
  background-color: white;
}

.profile {
  position: absolute;
  width: 20%;
  line-height: 200px;
  height: 200px;
  margin: 0px;
}

.loggo {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.hgo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.leftsection {
  position: absolute;
  right: 0px;
  width: 78%;
}

.name {
  line-height: 49px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  text-transform: capitalize;
}

.description {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #484848;
}

/*Drop down button*/
.dropbtn {
  background-color: #2f2fa2;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 0px 20px 0px 20px;
 }
 
 /* The container <div> - needed to position the dropdown content */
 .dropdown {
  position: relative;
  display: inline-block;
 }
 
 /* Dropdown Content (Hidden by Default) */
 .dropdown-content {
  display: none;
  position: relative;
  background-color: white;
  width: 300px;
  max-height: 220px;
  overflow: auto;
  margin: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: left;
  flex-flow: row wrap;
  justify-content: center;
 }
 
 .intx{
     padding: 5px;
     border: solid 1px rgb(180, 178, 178);
     font-size: 15px;
     border-radius: 10px;
     outline: none;
 }
 .inbtn{
     color: white;
     padding: 5px 10px 5px 10px;
     background-color: black;
     font-size: 20px;
     border: none;
     border-radius: 10px;
 }
 #otherdiv{
     text-align: center;
     width: 100%;
 }

 .h3{
     margin: 0px;
     padding: 0px;
     margin-top: 20px;
     margin-bottom: 5px;
     font-weight: normal;
     line-height: 1.25;
     font-size: 20px;
     color: rgb(107, 106, 106);
 }
 /* Links inside the dropdown */
 .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
 }
 
 /* Change color of dropdown links on hover */
 .dropdown-content a:hover {background-color: #ddd}
 
 /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
 .show {display:block;} 
 /*div holding the loading cirlce on uploading pictures and videos*/
.iver{
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 0px 10px 1px white;
  display: none;
}

.classTitle{
  width: 100%;
  text-align: left;
  height: max-content;
  margin-bottom: 0px;
}
.classTitle p{
  font-size: 20px;
  color: black;
  cursor: pointer;
  margin: 0px;
  margin: 5px;
}
.classTitle p:hover{
  font-size: 20px;
  color: grey;
  cursor: pointer;
}

.classSubTitle{
  display: none;
  text-align: center;
}
#spin{
  position: relative;
  font-size: 30px;
  margin: 0px;
  color: white;
}
#spin2{
  position: relative;
  font-size: 30px;
  margin: 0px;
  color: black;
}