<!DOCTYPE html>
<html lang="en">

<head>

    <link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet'>
    <link rel="stylesheet" href="css/homent.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Investrloft</title>
    <link rel="stylesheet" href="">
    <!--link for the notification bell icon-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <!--div holding the whole page-->
    <div class="containerr">

        <!--contact us form-->
        <div class="cont1">
            <div class="contact-form">
                <h1>Contact Us</h1>

                <button class="close">X</button>
                <div class="txtb">
                    <label for="">Name :</label>
                    <input type="text" ng-model="vm.contact.name" placeholder="Enter Your Name">
                </div>

                <div class="txtb">
                    <label for="">Email :</label>
                    <input type="Email" ng-model="vm.contact.email" placeholder="Enter Your Email">
                </div>

                <div class="txtb">
                    <label for="">Message :</label>
                    <textarea name="" id="" ng-model="vm.contact.message" cols="30" rows="10"></textarea>
                </div>

                <p class="error">{{vm.error}}</p>

                <div class="btn">
                    <button class="btn1">Send </button>
                    <i class="fa fa-circle-o-notch fa-spin" id="spin3"></i>
                </div>
            </div>
        </div>

        <!--div holding first section of the page-->
        <div class="section1">

            <!--div holding the navigation bar-->
            <nav class="nav">

                <!--logo-->
                <h1 class="logo">Investrloft</h1>

                <!--div holding home contatc us and terms of service links-->
                <div class="links1">

                    <a class="linkk nv" href="/homeinv">Investors</a>

                    <a class="linkk nv nvl">Contact Us</a>

                    <a class="linkk nv nvl2" href="/termsofservice">Terms of Service</a>

                </div>

                <!--burger icon-->
                <div class="burger">
                    <div class="line"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>

                <!--sign up button-->
                <a class="signup " href="/whoami"> SIGN UP FREE</a>

                <!--div holding the loginbutton-->
                <div class="links2">

                    <!--login link-->
                    <a class="linkk nv2 nv21" href="/login">Login</a>

                </div>



            </nav>

            <div class="holdsection102">

                <!--div holding the text and get started button-->
                <div class="section102">

                    <!--text 1-->
                    <h2 class="txt1">We are committed to helping college startups find investors with ease.</h2>

                    <!--text 2 -->
                    <p class="txt2">Display your startup to our investors for a potential investment. </p>

                    <!--get started button-->
                    <a class="start" href="/startuprgt">GET STARTED</a>
                </div>

            </div>

            <!--div holding the right image-->
            <div class="section103">

                <!--investr1-->
                <div class="investr1">
                    <!--image-->
                    <img src="./images/investor 1.png" alt="" srcset="">

                </div>

                <!--investr2-->
                <div class="investr2">
                    <!--image-->
                    <img src="./images/salary 1.png" alt="" srcset="">
                </div>

                <!--investr3-->
                <div class="investr3">
                    <!--image-->
                    <img src="./images/seeding 1.png" alt="" srcset="">
                </div>

                <!--ellipse-->
                <div class="ellipse"></div>

                <!--connect with investor-->
                <h2 class="cn1">Connect with investors</h2>

                <!--Get funding-->
                <h2 class="cn2">Get funding</h2>

                <!--grow your business-->
                <h2 class="cn3">Grow your business</h2>



            </div>

        </div>

        <!--div holding second section of the page-->
        <div class="section2">

            <!--div holding the image -->
            <div class="img">


                <div class="img2"></div>

                <div class="img3"></div>


            </div>

            <!--div holding the texts-->
            <div class="section202">

                <h2 class="txt22">We are here to help you connect with investors.</h2>

                <p class="pp2">Get access to our network of investors and
                    increase your chances of getting funded today.
                </p>

                <a class="start2" href="/startuprgt">START CONNECTING</a>
            </div>
        </div>

        <!--div holding the third section of the page-->
        <div class="section3">

            <!--getting started-->
            <h2 class="gts">Getting started</h2>
            <div class="sc33">
                <!--div holding post your startup-->
                <div class="section301 sc3">

                    <!--div holding the image-->
                    <div class="img301">
                        <img src="./images/writing 1.png" alt="post your startup">
                    </div>

                    <h2 class="sch">Post your startup</h2>

                    <p class="scp">Show your startup to potential investors.</p>

                </div>

                <!--div holding wait for request-->
                <div class="section302 sc3">

                    <!--div holding the image-->
                    <div class="img301">
                        <img src="./images/video-conference 1.png" alt="wait for request">
                    </div>

                    <h2 class="sch">Wait for request</h2>

                    <p class="scp">Be on the lookout for interested investors.</p>

                </div>

                <!--div holding accept investor-->
                <div class="section303 sc3">

                    <!--div holding the image-->
                    <div class="img301">
                        <img src="./images/portfolio 1.png" alt="accept investor">
                    </div>

                    <h2 class="sch">Accept investor</h2>

                    <p class="scp">Accept an investors request if they seem fit for your startup.</p>

                </div>
            </div>
        </div>

        <!--div holding the 4th section of the page customer reviews-->
        <div class="section4"></div>

        <!--div holding the 5th section of the page-->
        <div class="section5">
            <h2 class="s5h">Typical investors on Investrloft</h2>

            <!--notify of investors form-->
            <div class="not1">
                <div class="notify-form">
                    <h1>Refer investor.</h1>

                    <button class="close1">X</button>

                    <div class="txtb">
                        <label for="">Email :</label>
                        <input type="email" class="emnot" ng-model="vm.notify.email" placeholder="Enter investors email"
                            required>
                    </div>

                    <p class="error1">{{vm.error1}}</p>

                    <div class="btn2">
                        <button class="btn3">Refer investor</button>
                        <i class="fa fa-circle-o-notch fa-spin" id="spin4"></i>
                    </div>

                </div>
            </div>

            <div class="instrpo">
                <!--angel investors-->
                <div class="angel inn">
                    <div class="pic pi"></div>
                    <p class="po">Angel Investors</p>
                </div>

                <!--Accelerators investors-->
                <div class="Accelerators inn">
                    <div class="pic1 pi"></div>
                    <p class="po">Startup accelerators</p>
                </div>

                <!--inquibators investors-->
                <div class="inquibator inn">
                    <div class="pic2 pi"></div>
                    <p class="po">Family offices</p>
                </div>

            </div>

            <div class="siu">
                <p class="s5y">Know of investors who would like to get along?</p>
                <br><br><br>
                <a class="s5b">Refer them here</a>
            </div>
            <div class="sct5">

                <!--div on the left holding picture-->
                <div class="sct1 di"></div>

                <!--dic holding the main investor-->
                <div class="sct2 di">

                    <!--left arrow-->
                    <div class="left arrow"></div>

                    <!--right arrow-->
                    <div class="right arrow"></div>


                </div>

                <!--div on the right holding picture-->
                <div class="sct3  di"></div>

            </div>


        </div>



        <!--div holding the footer of the page-->
        <div class="footer" id="footer">

            <ul>
                <li> <a href="/company">Company</a> </li>
                <!--<li class="fli"> <a href="/support">Support</a> </li>-->
                <!--<li class="fli2"> <a href="/partnership">Partnership</a> </li>-->
                <li><a href="/termsofservice">Terms of service</a></li>
            </ul>

            <p class="fp"> Email: support@investrloft.com</p>
            <br>
            <p class="fp">© 2021</p>

        </div>
        <script src="./js/home.js"></script>
    </div>
    <br><br><br>
</body>

</html>