<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="css/resource2.css">
</head>

<body>

    <div class="containerr">


        <!--contact us form-->
        <div class="cont1">
            <div class="contact-form">
                <h1>Contact Us</h1>

                <button class="close">X</button>
                <div class="txtb">
                    <label for="">Name :</label>
                    <input type="text" ng-model="vm.contact.name" placeholder="Enter Your Name">
                </div>

                <div class="txtb">
                    <label for="">Email :</label>
                    <input type="Email" ng-model="vm.contact.email" placeholder="Enter Your Email">
                </div>

                <div class="txtb">
                    <label for="">Message :</label>
                    <textarea name="" id="" ng-model="vm.contact.message" cols="30" rows="10"></textarea>
                </div>

                <p class="error">{{vm.error}}</p>

                <div class="btn">
                    <button class="btn1">Send </button>
                    <i class="fa fa-circle-o-notch fa-spin" id="spin3"></i>
                </div>
            </div>
        </div>

        <!--div holding the navigation bar-->
        <nav class="nav">

            <!--logo-->
            <h1 class="logo">Investrloft</h1>

            <!--div holding home contatc us and terms of service links-->
            <div class="links1">

                <a class="linkk nv nvl1" href="/homeinv">Investors</a>

                <a class="linkk nv nvl4" href="/homent">Startups</a>

                <a class="linkk nv nvl">Contact Us</a>

                <a class="linkk nv nvl2" href="/termsofservice">Terms of Service</a>

            </div>

            <!--burger icon-->
            <div class="burger">
                <div class="line"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>

            <!--sign up button-->
            <a class="signup " href="/whoami"> SIGN UP FREE</a>

            <!--div holding the loginbutton-->
            <div class="links2">

                <!--login link-->
                <a class="linkk nv2 nv21" href="/login">Login</a>

            </div>

        </nav>



        <!----------------start coding from her------------------------------------>

        <br><br>
        <div class="resources">


        </div>
        <br><br>

        <script src="./js/home.js"></script>

    </div>

    <br><br><br><br>
</body>

</html>